.Home {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    flex-direction: column;

}

.Home-wrapper {
    height: max-content;
    width: 90%;
}

.Hero-Part {
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: background-image 0.5s ease;
}

.Hero-Partwrapper {
    height: 100%;
    width: 95%;
    /* background-color: red;   */
    display: flex;
    align-items: center;
}

.Hero-PartCaroselleft {
    height: 100%;
    width: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-PartContent {
    height: 100%;
    width: 80%;
    /* background-color: rgb(14, 214, 10); */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hero-PartCaroselright {
    height: 100%;
    width: 10%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caroselleftblock {
    height: 40px;
    width: 50px;
    border: 2px solid rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    transition: background-color 0s;
}

.Caroselleftblock:hover {
    background-color: #f4ba48;
}

.Quanlity {
    display: block;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.Streight {
    display: block;
    height: 10%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.standpoint {
    display: block;
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.btn {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.btn1 {
    border: none;
    background-color: #f4ba48;
    width: 160px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.9s ease;

}

.btn2 {
    width: 160px;
    height: 55px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.9s ease;

}

.btn1:hover {
    background-color: #56aef5;

}

.btn2:hover {
    background-color: #56aef5;
    border: none;
}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {

    .Hero-PartContent {
        height: 60%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .Quanlity {
        font-size: 30px;
        font-weight: 500;
        height: 5%;
        /* background-color: #a8cedb; */
    }

    .Streight {
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    font-size: 28px;
   align-items: end;
    height: 20%;
    text-align: center;
    width: 100%;

    }

    .standpoint {
        font-size: 20px;
        width: 100%;
        height:10%;
         padding: 10px 0px;
        line-height: 1.8;
    }

}

@media (max-width: 767px)
/* CSS styles for mobile devices */
    {
    .Hero-Part {
        height: 100vh;
        width: 100%;
        background-color: #56aef5;

    }

    .Hero-PartContent {
        height: 90%;
        width:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .Quanlity {
        font-size: 16px;
        height: 7%;
   }

    .Streight {
        font-size: 34px;
        height: 25%;
        text-align: center;
     }

    .standpoint {
        font-size: 14px;
        width: 95%;
        height: 18%;
    }

    .btn1 {
        width: 150px;
        height: 55px;    
    }
    
    .btn2 {
        width: 160px;
        height: 55px;
            }

}

